---
layout: archive
title: "About Me"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Publications</h2>

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Teaching</h2>
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<h2>Talks and Projects</h2>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

