---
layout: archive
title: "About Me"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Publications
===
{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

Teaching
===
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

Talks and Projects
===
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

