---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    <meta name="google-site-verification" content="jboB4TRWpGHGWYK566G_WuexuexD9A8_ssS6IRgZzpU" />
    <meta name="msvalidate.01" content="D6B6EB0DDD61DF0C75C0685BE52D5D01" />
    {% include head/custom.html %}
    {% seo %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
